<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- IOS/Android fullScreen meta tag -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->

    <!-- Own CSS -->
    <link rel="stylesheet" href="/styles/homepageStyle.css"/>

    <!-- Page Title -->
    <title>E-ink Bitcoin Price Checker</title>
</head>

<body>
    <h1>E-ink Bitcoin Price Checker</h1>
    <p>Welcome to my simple Bitcoin Price Checker!</p>
    <p>This miniproject is about building easy to use web application/webpage which shows actual price of Bitcoin in USD/EUR.
        The view is very simplistic, e-ink and widescreen optimised (I build it primarily for my android based e-ink book reader Likebook Mars, however every phone/tablet in widescreen should be fine).
        Data are updated once per 30 sec based on Coinbase API. </p>
    <h3>Select currency you want to display:</h3>
    <div class="currencies">
        <a th:href="@{/day/USD/}"><img id="dollar" src="icons/dollar_small.png"/></a>
        <a th:href="@{/day/EUR/}"><img id="euro" src="icons/euro_small.png"/></a>
    </div>

    <div class="nightMode">
        For <strong>NIGHTMODE</strong> choose one of the following links:
        <li><a th:href="@{/night/USD/}">USD nightmode</a></li>
        <li><a th:href="@{/night/EUR/}">EUR nightmode</a></li>
    </div>

</body>
<!-- Optional JavaScript -->
<script>
</script>
</html>