<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" name="viewport">
    <!-- IOS/Android fullScreen meta tag -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->

    <!-- Own CSS -->
    <link rel="stylesheet" th:href="@{/styles/pricePageStyle.css}"/>

    <!-- jQuerry script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Page Title -->
    <title th:utext="${currency} + ' Bitcoin price checker'"></title>

</head>

<body>
    <div class="background">

        <div class="clockBlock">
            <span id="clock"/> <!--added by javascript-->
        </div>

        <div class="btcTextBlock">
            <img id="btcText" src="/icons/BTCtext.png">
        </div>

        <div class="priceContainer" id="priceContainer" th:object="${bitcoinObject}">
            <div class="btcPriceBlock">
                <span id="btcPrice" th:utext="'<strong>' + *{#numbers.formatInteger(actualPrice,0, 'COMMA')} + '</strong>'"></span>
                <span id="btcCurrency" th:utext="'<strong>' + *{currency} + '</strong>'"></span>
            </div>
            <div class="btcChangeBlock">
                <span id="btcChange" th:style="*{priceChangeSign == '+' ? 'color:limegreen' : 'color:#FAA31B'}"
                      th:utext="*{priceChangeSign == '+' ? '▲' : '▼'}
                      + *{#numbers.formatInteger(priceChange,0, 'NONE')} +'' + *{currency}"/>
                <span id="btcChangePercentage" th:style="*{priceChangeSign == '+' ? 'color:limegreen' : 'color:#FAA31B'}"
                      th:utext="*{priceChangeSign == '+' ? '▲' : '▼'}
                      + *{priceChangePercentage} + '%'"/>
            </div>
            <div class="lastUpdatelock">
                <span id="lastUpdate" th:text="'Last price info: '+*{#temporals.format(lastUpdate,'HH:mm:ss')+' CET'}"></span>
            </div>
        </div>

    </div>

</body>

<!-- Optional JavaScript -->
<script src="/scripts/pricePageJavaScript.js"></script>

</html>