h1 {
    font-family: 'Abril Fatface', cursive;
    color: #BD7900;
}

#statsLink {
    cursor: default;
    text-decoration: none;
    color: #BD7900;
}

.currencies {
    width: 100vw;
    height: 50vh;
    padding: 0vh;
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: space-evenly;
}

img {
    height: 50vh;
}