@import 'pricePageStyle.css';


.background {
    background-color: black;
}

#clock {
    color: #6B6C6C;
}

#btcPrice {
    color: #e7dfc6;
}

#price-up {
    color: #005e0d
}

#price-down {
    color: #966211;
}

#btcCurrency {
    color: #6B6C6C;
}

#lastUpdate {
    color: #292929;
}


/* Adjustments for wider screens like mobile phones */
@media (min-aspect-ratio: 16/8) {
    .lastUpdateBlock {
        /* shift text slightly down into the phone´s borders */
        transform: translateY(2vh);
    }
}
