body {
    font-family: 'Abril Fatface', cursive;
    margin: 0px;
    padding: 0px;

    max-width: 1000px;
    width: 100vw;
    height: 100vh;

    /*display: flex;*/
    justify-content: center; /*horizontální vystředění*/
    align-items: center; /*vertikální vystředění*/
}

.background {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;

    box-shadow: inset 0 0 0 10px #FAA31B;
}

.clockBlock {
    width: 100vw;
    height: 15vh;
    margin: 0px;
    padding: 0vh;
    display: inline-flex;
    align-items: center;
}

#clock {
    padding-top: 5vh;
    padding-right: 3vw;
    margin: 0;
    margin-left: auto;
    margin-right: 0;
    font-size: 14vh;
    font-weight: bold;
/*    color: cornsilk;
    color: #AAABAB;*/
    color: #6B6C6C;

    display: inline-flex;
    align-items: center;
    text-align: end;
}

.btcTextBlock {
    width: 100vw;
    height: 15vh;
    margin: 0px;
    padding: 0vh 0vw 0vh 4vw;
    display: inline-flex;
    align-items: center;
}

#btcText {
    width: auto;
    height: 100%;

    margin-left: 0; /*horizontální vystředění*/
    margin-right: auto; /*horizontální vystředění*/

    display: inline-flex;
    align-items: center;
}

.priceContainer {
    width: 100vw;
    height: 65vh;
    margin: 0px;
    padding: 0vh;
    align-items: center;
}

.btcPriceBlock {
    width: 100vw;
    height: 40vh;
    padding: 0vh;
    display: inline-flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

#btcPrice {
    padding: 0vh 0vw 0vh 0vw;
    margin: 0;
    margin-left: auto;
    font-size: 33vh;
/*    color: cornsilk;
    color: khaki;*/
    color: #e7dfc6;
}

#btcCurrency {
    padding: 0vh 0vw 0vh 0vw;
    margin: 0;
    margin-right: auto;
    font-size: 33vh;
    color: cornsilk;
/*    color: #AAABAB;*/
    color: #6B6C6C;
}

.btcChangeBlock {
    width: 100vw;
    height: 17vh;
    padding: 0vh;
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: space-between;
}

#btcChange {
    padding: 0vh 0vw 0vh 0vw;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 15vh;
    font-weight: bold;

    display: inline;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#btcChangePercentage {
    padding: 0vh 0vw 0vh 0vw;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 15vh;
    font-weight: bold;

    display: inline;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.lastUpdatelock {
    width: 100vw;
    height: 4vh;
    margin: 0px;
    padding: 0vh 0vw 0vh 0vw;
    display: inline-flex;
    align-items: center;
}

#lastUpdate {
    padding: 0vh 2vw 0vh 0vw;
    margin: 0;
    margin-left: auto;
    margin-right: 0;
    font-size: 3vh;
    color: #292929;

    display: inline-flex;
    align-items: center;
    text-align: end;
}
